/*selector {
	property: value;
}*/

h1 {
	color: #B30ED0;
	border: 2px dashed rgb(100, 0, 100);

	/*
	border-color: purple;
	border-width: 5px;
	border-style: solid;*/
}

/*width 
color
style*/

li {
	color: rgb(100, 0, 100);
}
h3 {
	color: rgb(167, 250, 56);
}

h2 {
	color: rgba(0, 200, 100, .6);
}
h4 {
	background: rgb(255,100,80);
	 }
body {
	background: pink;
	/*background: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	}